input, textarea, select {
  outline: none;
  padding: 16px 32px;
  background: #FFFFFF;
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  border: none;
  color: #000000;
 &[type="checkbox"] {
   width: 32px;
   height: 32px;
 }
}
