@import 'reset', 'forms';

.wrapper {
  max-width: $page-content;
  margin: 0 auto;
  padding: 0 8px;
}
button {
  width: 100%;
  padding: 12px 20px;
  border-radius: $border-radius-primary;
  transition-duration: 0.3s;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  color: $secondary;
  cursor: pointer;
  &.button__primary {
    background-color: $primary;
    border: 0;
    //&:hover {
    //  background-color: $primary-hover;
    //}
    //&:active {
    //  background-color: $primary-active;
    //}
  }
  &.button__heart {
    border: 0;
    img {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(61deg) brightness(103%) contrast(101%);
    }
  }
}



